In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

html_wesm = pd.read_html('http://www.iemop.ph/the-market/participants/wesm-members/')
html_retail = pd.read_html('http://www.iemop.ph/the-market/participants/rcoa-tp/')

In [2]:
df_wesm = html_wesm[0]
df_wesm.head()

,PARTICIPANT NAME,SHORT NAME,REGION,CATEGORY,MEMBERSHIP,RESOURCE,EFFECTIVE DATE,STATUS
0,GNPower Kauswagan Ltd. Co.,GNPKLCO,MINDANAO,GENERATOR,DIRECT,GNPK Coal Fired Power Plant Unit 4,08/07/2020,REGISTERED
1,GNPower Kauswagan Ltd. Co.,GNPKLCO,MINDANAO,GENERATOR,DIRECT,GNPK Coal Fired Power Plant Unit 3,08/07/2020,REGISTERED
2,FGP Corporation,FGP - San Lorenzo,LUZON,GENERATOR,DIRECT,San Lorenzo Natural Gas Power Plant 5,06/26/2006,REGISTERED
3,FGP Corporation,FGP - San Lorenzo,LUZON,GENERATOR,DIRECT,San Lorenzo Natural Gas Power Plant 6,06/26/2006,REGISTERED
4,First Gas Power Corporation,FGPCSTRA,LUZON,GENERATOR,DIRECT,Sta. Rita Natural Gas Power Plant 1,06/26/2006,REGISTERED

In [3]:
df_retail = html_retail[0]
df_retail.head()

,NAME,SHORT NAME,REGION,CATEGORY,MEMBERSHIP,EFFECTIVE DATE,STATUS
0,Styrotech Corporation,STYR01R,Luzon,Contestable Customer,Indirect,26-Jun-13,Registered
1,Analog Devices Gen. Trias Inc.,ADGT01R,Luzon,Contestable Customer,Indirect,26-Jun-13,Registered
2,Analog Devices Gen. Trias Inc.,ADGT02R,Luzon,Contestable Customer,Indirect,26-Jun-13,Registered
3,Ascott Makati Inc.,ATMK01R,Luzon,Contestable Customer,Indirect,26-Jun-13,Registered
4,Marina Square Properties Inc.,MSPI01R,Luzon,Contestable Customer,Indirect,26-Jun-13,Registered